parameters:
	level: 2
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#PHPDoc tag \@param for parameter \$relatiesoort with type array#'
			paths:
				- src/Model/V2
		-
			message: '#PHPDoc tag \@param for parameter \$editableAttributes with type array#'
			paths:
				- src/Request
		-
		    message: '#Call to an undefined method SnelstartPHP\\Mapper\\V2\\KostenplaatsMapper\:\:delete\(\)#'
		    paths:
		        - src/Connector/V2
		-
			message: '#Call to an undefined method SnelstartPHP\\Mapper\\V2\\VerkooporderMapper\:\:delete\(\)#'
			paths:
				- src/Connector/V2